<div id='deckDesc' class='pure-u-1'>
  <div class='leftDeck'>
    <h3>{{name}}</h3>
    <h4>{{description}}</h4>
  </div>
  <div class='rightDeck'>
    <button 
      class="reviewBtn" 
      {{#unless queueCount}}disabled{{/unless}}
      onclick="window.location = '/review/{{id}}'"
    >
    {{#if queueCount}}<div><span>{{{queueCount}}}</span></div>{{/if}}
    Review
    </button>

    <button
      id='editBtn'
      onclick="window.location = '/updateDeck/{{id}}'"
    >Edit</button>
  </div>
</div>