<div id="dashboardCont" class="pure-g">
    <!--Welcome part -->
    <div id="welcomeDiv" class=" pure-u-1-3">
<<<<<<< HEAD
        <!--Add the username --> 
    <h2> Welcome {{name}}!</h2>
=======
        <!--Still not working--> 
    <h2> Welcome {{deckData.name}}</h2>
>>>>>>> 6ab43ce (tried to make the changed)
    <div id="todayDeck">
    <button id="todaysDeck"><a href="/review/all">Review all Cards</a></button>
    </div>
    <button id="createDeck"><a href="/create">Create Deck</a></button>
</div>

<!-- Loads each deck from the user from a partial -->
<div id="decksDiv" class="pure-u-2-3">
    {{#each deckData.decks as |deck|}}
      <div id="deckDesc" class="pure-u-1">
        <div class="leftDeck">
         <!-- Working -->
        <h3>{{deck.name}}</h3>
        <h4>{{deck.description}}</h4>
    </div>
    <div class="rightDeck">
      <button id="reviewBtn"><a href="/review">Review</a></button>
<<<<<<< HEAD
       <button id="editBtn"><a href='/updateDeck/{{id}}'>Edit</a></button>
=======
       <button id="deleteBtn"><a href='/updateDeck/{{id}}'>Edit</a></button>
>>>>>>> 6ab43ce (tried to make the changed)
    </div>
    </div>
    {{/each}}
      <button id="createDeck"><a href="/decks/new">Create Deck</a></button>
</div>
</div>

